.button {
    display: flex;
    box-sizing: border-box;
    justify-content: stretch;
    flex: 1;
    border: 3px solid blue;
}

.button img {
    flex: 1;
    border-right: 1px solid blue;
    padding: 10px;

}

.button input {
    flex: 5;
    border: none;
    border-right: 1px solid blue;
    font-size: 20px;
    padding: 0 0 5px 5px;
    min-width: 0px;

}

.button button {
    background-color: blue;
    color: white;
    font-size: 20px;
    flex: 2;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    word-wrap: none;
    flex-basis: 50px;

}