.message p {
    border-radius: 30px;
    border: 1px solid black;
    color: black;
    padding: 20px;
    margin: 10px 10px 10px;
}

.message:nth-child(even) {
    float: right;
 
}
.message:nth-child(odd) {
    float: left;

}
.message:nth-child(even) p{
    background-color: lightblue;
}

.message:nth-child(odd) p {
    background-color: white;
}

.message {
    clear: both;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 10px 10px;
}

.message img {
    height: 40px;
    width: 40px;   
    border: 1px solid black;
    padding: 5px; 
}

.message:nth-child(odd) >img{
    order: -1;
}